.menu {
    display: flex;
    justify-content: center;

    &__item {
        display: flex;

        .item__link {
            color: #fff;
            cursor: pointer;
            justify-content: center;
            padding: 0.5em;
            text-decoration: none;

            &:hover {
                background-color: #383838;
            }

            @include media-q {
                padding: 0.5em 1.5em;
            }
        }
    }
}

.container {
    padding-top: $header_height;

    @include media-q {
        padding-top: 9em;
    }
}

.blocks {
    width: 100%;
}

.start-block {
    background: url('/images/bg.png');
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 3em 15px;
    text-shadow: 1px 1px 0px #fff;

    &--dark {
        background-color: $color-grey--dark;
        color: $color-grey--footer;
        text-shadow: -1px -1px 0px $color-black--base;
    }

    &--light {
        background-color: $color-grey--light;
    }
}

.header-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        color: $color-grey--dark;
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 0.4em;

        &--dark {
            color: white;
        }

        @include media-q {
            font-size: 2em;
            margin-bottom: 0.75em;
        }
    }

    &__text {
        font-size: 1.28em;
        margin-bottom: 2em;

        @include media-q {
            margin-bottom: 0;
        }
    }

    @include media-q {
        margin-bottom: 4em;
    }
}

.footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5em;

    &__text {
        font-size: 1.25em;
        margin-bottom: 2em;
    }

    @include media-q {
        margin-top: 3em;
    }
}

.blocks-container {
    @include media-q {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.block {
    &__content {
        background-color: #fff;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        line-height: 1.25;
        margin-bottom: 20px;
        padding-bottom: 30px;
        text-align: center;

        &__icon {
            color: $color-pink--base;
            display: block;
            font-size: 6em;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            margin-bottom: 20px;
            padding-top: 30px;
        }

        &__link {
            position: relative;
            width: auto;

            .image {
                background-size: 100%;
                background-repeat: no-repeat;
                width: 100%;
            }
        }

        &__title {
            color: #3e3e3e;
            font-size: 1.25em;
            font-weight: 700;
            margin-bottom: 0.25em;
            padding: 10px 20px 0 20px;

            @include media-q {
                font-size: 1.5em;
                margin-bottom: 0.5em;
                padding: 0 2em;
            }
        }

        &__text {
            line-height: 1.75em;
            padding: 0 20px;

            @include media-q {
                padding: 0 2em;
            }
        }

        @include media-q {
            margin-bottom: 0;
        }
    }

    @include media-q {
        padding: 25px 0 0 25px;
        width: 30%;
    }
}