.container {
    padding-top: $header_height;

    @media screen and (min-width: 992px) {
        padding-top: 9em;
    }
}

.blocks {
    width: 100%;

    > div {
        padding: 0 15px 40px 15px;
    }
}

.button {
    width: 100%;
    padding: 1em 0;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    font-weight: 700;
    background-color: #43B3E0;
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    cursor: pointer;

    @media screen and (min-width: 992px) {
        font-size: 1.5em;
        padding: 1em 2.35em 1em 2.35em;
        width: auto;
    }
}

.button:hover {
    background-color: #43bff0;
}

.second-block {
    height: 1222px;
}

.third-block {
    height: 2461px;
}