.first-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }

    .img {
        @include circular-image("/images/pic00.jpg");
    }

    .description {
        padding: 30px 0;

        p {
            padding-top: 20px;
        }

        .hello {
            width: 100%;
            color: #3e3e3e;
            font-size: 2.25em;
            line-height: 1.25em;
        }

        .miniport {
            line-height: 1.75;
            strong {
                font-weight: 600;
            }

            a {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}