.first-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 15px 40px 15px;

    &__img {
        @include circular-image("/images/pic00.jpg");

        @include media-q {
            height: 286px;
            margin-left: 5em;
            width: 286px;
        }
    }

    &__description {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;

        .description {
            padding: 30px 0;

            &__hello {
                color: $color-grey--dark;
                font-size: 2.25em;
                line-height: 1.25em;
                padding-top: 20px;
                width: 100%;

                @include media-q {
                    font-size: 3.25em;
                    letter-spacing: -0.025em;
                }
            }

            &__miniport {
                line-height: 1.75;
                padding-top: 20px;

                .miniport {
                    font-weight: 600;
                }

                .link {
                    color: inherit;
                    text-decoration: underline;

                    &:hover {
                        color: $color-blue--link;
                        cursor: pointer;
                    }
                }

                // miniport
                @include media-q {
                    font-size: 1.5em;
                    line-height: 1.75em;
                }
            }

            // description
            @include media-q {
                text-align: left;
            }
        }

        // first-block__description
        @include media-q {
            align-items: flex-start;
            flex: 1;
            margin: 0 5em;
        }
    }

    // first-block
    @include media-q {
        flex-direction: row;
    }
}