.header {
    background-color: $color-black--base;
    padding: 2px 0;
    position: fixed;
    width: 100%;
    z-index: 10000;

    @include media-q() {
        padding: 1em 0;
        font-weight: 600;
    }
}