.second-block {
    @extend .start-block;

    .footer-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2.5em;

        &__text {
            font-size: 1.25em;
            margin-bottom: 2em;
        }

        @include media-q {
            margin-top: 3em;
        }
    }
}