@mixin circular-image($image) {
    display: block;
    width: 200px;
    height: 200px;
    background: url($image);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

@mixin media-q($screen: md, $type: min) {
    @media screen and (#{$type}-width: map-get($screen-sizes, $screen)) {
        @content;
    }
}