$header-height: 66px;

// Colors
$color-black--base: #282828;
$color-black--button: #444;
$color-black--light: #303030;

$color-blue--base: #43B3E0;
$color-blue--light: #43bff0;
$color-blue--link: #43bff0;

$color-grey--base: #888;
$color-grey--dark: #3e3e3e;
$color-grey--footer: #999;
$color-grey--light: #f4f4f4;

$color-pink--base: #EA8A95;

$color-twitter: #2DAAE4;
$color-facebook: #3C5A98;
$color-dribbble: #C4376B;
$color-linkedin: #006599;
$color-tumblr: #51718A;
$color-google-plus: #DA2713;
$color-github: #FAFAFA;

// Sizes
$screen-sizes: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);