.button {
    background: url('/images/bg.png');
    background-color: $color-blue--base;
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1em 0;
    text-decoration: none;
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
    width: 100%;

    &--dark {
        background-color: $color-black--button;
        margin-top: 10px;
    }

    &:hover {
        background-color: $color-blue--light;
    }

    @include media-q {
        font-size: 1.5em;
        padding: 1em 2.35em 1em 2.35em;
        width: auto;
    }
}