.input {
    background-color: $color-black--base;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
    font-weight: 300;
    line-height: 1.75em;
    margin-top: 15px;
    padding: 0.75em;
    width: 100%;

    &--textarea {
        height: 12em;
    }
}